  <header id="header" style="overflow-y: scroll;">
    <div id="content">
      <a href="/"><img src="{{site.url}}/assets/logo.png" alt="Zype" />
      <h1 id="title">Developer Portal</h1></a>
      <p class="light">a knowledge base</p>
      <br>
      <p class="category"><a href="/api_docs/intro/" style="color: #8acfef;">API Documentation</a></p>
      <h4 class="api-header">Zype Platform</h4>
      <p><a href="/api_docs/videos/">Videos</a></p>
      <p><a href="/api_docs/playlists/">Playlists</a></p>
      <p><a href="/api_docs/categories/">Categories</a></p>
      <p><a href="/api_docs/apps/">Apps</a></p>
      <p><a href="/api_docs/devices/">Devices</a></p>
      <p><a href="/api_docs/device_categories/">Device Categories</a></p>
      <p><a href="/api_docs/players/">Players</a></p>
      <p><a href="/api_docs/manifests/">Master Manifests</a></p>
      <p><a href="/api_docs/segments/">Segments</a></p>
      <p><a href="/api_docs/video_imports/">Video Imports</a></p>
      <p><a href="/api_docs/video_sources/">Video Sources</a></p>
      <h4 class="api-header">Content Rules</h4>
      <p><a href="/api_docs/content_rules_category/">Category Content Rules</a></p>
      <p><a href="/api_docs/content_rules_playlist/">Playlist Content Rules</a></p>
      <p><a href="/api_docs/content_rules_video/">Video Content Rules</a></p>
      <h4 class="api-header">Consumers</h4>
      <p><a href="/api_docs/consumers/">Consumers</a></p>
      <p><a href="/api_docs/device_linking/">Device Linking</a></p>
      <p><a href="/api_docs/oauth/">OAuth</a></p>
      <p><a href="/api_docs/video_entitlements/">Video Entitlements</a></p>
      <p><a href="/api_docs/playlist_entitlements/">Playlist Entitlements</a></p>
      <h4 class="api-header">Monetization</h4>
      <p><a href="/api_docs/subscriptions/">Subscriptions</a></p>
      <p><a href="/api_docs/plans/">Plans</a></p>
      <p><a href="/api_docs/transactions/">Transactions</a></p>
      <p><a href="/api_docs/redemption_codes/">Redemption Codes</a></p>
      <p><a href="/api_docs/revenue_models/">Revenue Models</a></p>
			<p><a href="/api_docs/video_favorites/">Video Favorites</a></p>
      <h4 class="api-header">Zobjects</h4>
      <p><a href="/api_docs/zobject_types/">Zobject Types</a></p>
      <p><a href="/api_docs/zobjects/">Zobjects</a></p>
      <br>
      <h4 class="api-header">Common API Examples</h4>
      <p><a href="/api_docs/3rd-party-crm-integration/">3rd Party CRM Integration</a></p>
      <br>
      <p class="category"><a href="/platform_docs/" style="color: #8acfef;">Platform Documentation</a></p>
      <p class="category"><a href="/sdks/" style="color: #8acfef;">SDKs</a></p>
      <p class="category"><a href="/glossary/" style="color: #8acfef;">Glossary</a></p>
      <p class="category"><a href="http://status.zype.com" style="color: #8acfef;">System Status</a></p>
      <p class="category"><a href="/faq/" style="color: #8acfef;">FAQ</a></p>
      <br>
      <div class="hidden-mobile light">
        &copy; 2017 Zype Inc.
      </div>
    </div>
  </header>
