  <header id="header" style="overflow-y: scroll;">
    <div id="content">
      <a href="/"><img src="{{site.url}}assets/logo.png" alt="Zype" />
      <h1 id="title">Developer Portal</h1></a>
      <p>a knowledge base</p>
      <br>
      <p class="category"><a href="/api_docs/intro/" style="color: #8acfef;">API Documentation</a></p>
      <a href="/api_docs/zype_platform/"><h4 class="api-header">Zype Platform</h4></a>
      <p><a href="/api_docs/videos/">Videos</a></p>
      <p><a href="/api_docs/playlists/">Playlists</a></p>
      <p><a href="/api_docs/categories/">Categories</a></p>
      <p><a href="/api_docs/apps/">Apps</a></p>
      <p><a href="/api_docs/devices/">Devices</a></p>
      <p><a href="/api_docs/device_categories/">Device Categories</a></p>
      <p><a href="/api_docs/revenue_models/">Revenue Models</a></p>
      <p><a href="/api_docs/video_imports/">Video Imports</a></p>
      <p><a href="/api_docs/video_sources/">Video Sources</a></p>
      <p><a href="/api_docs/geoip/">GeoIP</a></p>
      <a href="/api_docs/users/"><h4 class="api-header">Users</h4></a>
      <p><a href="/api_docs/consumers/">Consumers</a></p>
      <p><a href="/api_docs/device_linking/">Device Linking</a></p>
      <p><a href="/api_docs/plans/">Plans</a></p>
      <p><a href="/api_docs/subscriptions/">Subscriptions</a></p>
      <a href="/api_docs/zobject_docs/"><h4 class="api-header">Zobjects</h4></a>
      <p><a href="/api_docs/zobject_types/">Zobject Types</a></p>
      <p><a href="/api_docs/zobjects/">Zobjects</a></p>
      <br>
      <p class="category"><a href="/platform_docs/" style="color: #8acfef;">Platform Documentation</a></p>
      <p class="category"><a href="/glossary/" style="color: #8acfef;">Glossary</a></p>
      <p class="category"><a href="http://status.zype.com" style="color: #8acfef;">System Status</a></p>
      <p class="category"><a href="/faq/" style="color: #8acfef;">FAQ</a></p>
      <br>
      <div class="hidden-mobile">
        © 2015 Zype Media Group
      </div>
    </div>
  </header>
