<header id="header" style="overflow-y: scroll;">
  <div id="content">
    <a href="/"><img src="{{site.url}}/assets/logo.png" alt="Zype" />
      <h1 id="title">Developer Portal</h1></a>
      <p>a knowledge base</p>
      <br>
      <p class="category"><a href="/api_docs/intro/" style="color: #8acfef;">API Documentation</a></p>
      <p class="category"><a href="/platform_docs/" style="color: #8acfef;">Platform Documentation</a></p>
      <p class="category"><a href="/glossary/" style="color: #8acfef;">Glossary</a></p>
      <p class="category"><a href="http://status.zype.com" style="color: #8acfef;">System Status</a></p>
      <p class="category"><a href="/faq/" style="color: #8acfef;">FAQ</a></p>
      <br>
      <div class="hidden-mobile">
        © 2016 Zype Inc.
      </div>
    </div>
  </header>
