<header>
  <h1 id="title">Zype Dev Portal</h1>
  <p>a knowledge base</p>
  <br>
  <p class="category"><a href="/blog/">Blog</a></p>
  <br>
  <p class="category">API Documentation</p>
  <p><a href="/">Introduction</a></p>
  <p><a href="/api_docs/videos/">Videos</a></p>
  <p><a href="/api_docs/playlists/">Playlists</a></p>
  <p><a href="/api_docs/categories/">Categories</a></p>
  <p><a href="/api_docs/device_categories/">Device Categories</a></p>
  <p><a href="/api_docs/devices/">Devices</a></p>
  <p><a href="/api_docs/revenue_models/">Revenue Models</a></p>
  <p><a href="/api_docs/zobject_types/">Zobject Types</a></p>
  <p><a href="/api_docs/zobjects/">Zobjects</a></p>
  <p><a href="/api_docs/geoip/">GeoIP</a></p>
</header>
