<header id="header">
  <div id="content">
    <a href="/"><img src="http://i.imgur.com/v8SUe9t.png" alt="Zype" />
    <h1 id="title">Developer Portal</h1></a>
    <p>a knowledge base</p>
    <br>
    <p class="category"><a href="/api_docs/intro/" style="color: #8acfef;">API Documentation</a></p>
    <p class="category"><a href="/platform_docs/" style="color: #8acfef;">Platform Documentation</a></p>
    <p class="category"><a href="/glossary/" style="color: #8acfef;">Glossary</a></p>
    <p class="category"><a href="http://status.zype.com" style="color: #8acfef;">System Status</a></p>
    <p class="category"><a href="http://admin.zype.com" style="color: #8acfef;">Blog</a></p>
    <br>
    © 2014 Zype Media Group
  </div>
</header>
