<header id="header" style="overflow-y: scroll;">
  <div id="content">
    <a href="/"><img src="{{site.url}}/assets/logo.png" alt="Zype" />
      <h1 id="title">Developer Portal</h1></a>
      <p class="light">a knowledge base</p>
      <br>
      <p class="category"><a href="/api_docs/intro/" style="color: #8acfef;">API Documentation</a></p>
      <p class="category"><a href="https://support.zype.com" style="color: #8acfef;">Platform Documentation</a></p>
        <h4 class="api-header">Getting Started:</h4>
          <p><a href="/platform_docs/overview/">Overview</a></p>
          <p><a href="/platform_docs/adding_videos/">Adding Videos</a></p>
          <p><a href="/platform_docs/creating_an_app/">Creating an App</a></p>
          <p><a href="/platform_docs/embedding_a_player/">Embedding a Player</a></p>
          <p><a href="/platform_docs/settings/">Settings</a></p>
          <p><a href="/platform_docs/advertising/">Advertising</a></p>
          <p><a href="/platform_docs/reports_and_analytics/">Reports and Analytics</a></p>
          <p><a href="/platform_docs/video_troubleshooting/">Video Troubleshooting</a></p>
        <h4 class="api-header">Learn About:</h4>
          <p><a href="/platform_docs/videos/">Videos</a></p>
          <p><a href="/platform_docs/apps/">Apps</a></p>
          <p><a href="/platform_docs/player_rules/">Player Rules</a></p>
          <p><a href="/platform_docs/playlists/">Playlists</a></p>
          <p><a href="/platform_docs/categories/">Categories</a></p>
          <p><a href="/platform_docs/assets/">Assets</a></p>
          <p><a href="/platform_docs/consumers/">Consumers</a></p>
          <p><a href="/platform_docs/plans/">Plans</a></p>
          <p><a href="/platform_docs/subscriptions/">Subscriptions</a></p>
          <p><a href="/platform_docs/purchase_and_rental/">Purchase and Rental</a></p>
          <p><a href="/platform_docs/distribution/">Distribution</a></p>
          <p><a href="/platform_docs/zobjects/">Zobjects</a></p>
        <br>
      <p class="category"><a href="https://support.zype.com/hc/en-us/categories/201978548-Applications" style="color: #8acfef;">SDKs</a></p>
      <p class="category"><a href="https://support.zype.com/hc/en-us/articles/216218128-Glossary-of-Zype-Terms" style="color: #8acfef;">Glossary</a></p>
      <p class="category"><a href="http://status.zype.com" style="color: #8acfef;">System Status</a></p>
      <p class="category"><a href="https://support.zype.com/hc/en-us/categories/115001506808-FAQ" style="color: #8acfef;">FAQ</a></p>
      <br>
      <div class="hidden-mobile light">
        &copy; 2017 Zype Inc.
      </div>
    </div>
  </header>
