@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  margin: 0;
  padding: 0;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:270px;
  float:left;
  position:fixed;
  margin-left: 4em;
}

header p {
  margin-bottom: 0.4em;
}

header ul {
  list-style:none;
  height:40px;

  padding:0;

  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);

  border-radius:5px;
  border:1px solid #d2d2d2;
  box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:40px;
}

header li:first-child a {
  border-radius:5px 0 0 5px;
}

header li:last-child a {
  border-radius:0 5px 5px 0;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

header ul a:hover {
  color:#999;
  background: -moz-linear-gradient(top, #fff 0%, #ddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ddd));
  background: -webkit-linear-gradient(top, #fff 0%,#ddd 100%);
  background: -o-linear-gradient(top, #fff 0%,#ddd 100%);
  background: -ms-linear-gradient(top, #fff 0%,#ddd 100%);
  background: linear-gradient(top, #fff 0%,#ddd 100%);
}

header ul a:active {
  -webkit-box-shadow: inset 0px 2px 2px 0px #ddd;
  -moz-box-shadow: inset 0px 2px 2px 0px #ddd;
  box-shadow: inset 0px 2px 2px 0px #ddd;
}

strong {
  color:#222;
  font-weight:700;
}

header ul li + li {
  width:88px;
  border-left:1px solid #fff;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  padding-bottom:50px;
  width: 55%;
  max-width: 750px;
  margin-left: 28em;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  margin-left: 4em;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  #main {
    padding: 25px !important;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    width: 100%;
    min-width:959px;
    p {
      margin: 0;
      padding: 0;
    }
  }

  section {
    // border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
    width: 100%;
    min-width:719px;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 400px) {
  #main {
    padding:15px;
  }

  header {
    min-width:399px;
  }

  header ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}

// CUSTOM CSS

#title {
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: white;
}

.category {
  font-size: 20px;

  a {
  color: #8acfef;
  }
}

ol.blog-posts {
  padding-left: 0 !important;
  margin-bottom: 60px;

  h2 {
    margin-bottom: 10px;

    span.date {
      margin-top: 8px;
      color: #777;
      font-size: 12px;
      float: right;
    }
  }
  h4 {
    margin-bottom: 10px;
    color: #777;
  }
}

header {
  h4 {
    margin-top: 5px;
    margin-bottom: 0px;
  }
}

#main {
  padding-bottom: 50px;
  padding-top: 80px;
  padding-left: 100px;

  ul {
    padding-left: 0 !important;
  }
}

#header {
  background-color: #423e3e;
  margin: 0px;
  height: 100%;
  width: 400px;

  p {
    margin: 0;
  }

  a {
    color: white;
  }

  h4 {
    color: #c1d340;
    margin-bottom: 5px;
  }

  @media print, screen and (max-width: 551px) {
    padding-bottom: 30px;
  }
}

#footer {
  @media print, screen and (min-width: 962px) {
    display: none;
  }

  @media print, screen and (max-width: 961px) {
    background-color: #423e3e;
    text-align: center;
    height: 50px;
    margin: 0;
  }
}

#content {
  padding-left: 80px;
  padding-top: 50px;
}

#homepage-container {
  display: inline-table;

  @media print, screen and (max-width: 551px) {
    margin-left: 9%;
    margin-right: 3%;
  }
}

.homepage-tile {
  width: 180px;
  height: 172px;
  float: left;
  border-radius: 10px;
  margin-right: 50px;
  margin-top: 30px;
  border: solid gray 2px;
  text-align: center;

  @media print, screen and (max-width: 551px) {
    width: 120px;
    height: 118px;
    margin-right: 30px;
  }
}

.homepage-icon {
  font-size: 80px !important;
  width: 180px;
  margin-bottom: 15px;
  padding-top: 25px;

  @media print, screen and (max-width: 551px) {
    font-size: 50px !important;
    width: 100px;
    margin-bottom: 10px;
    padding-top: 18px;
  }
}

.homepage-text {
  font-size: 18px;

  @media print, screen and (max-width: 551px) {
    font-size: 16px;
  }
}

.end-of-row {
  @media print, screen and (min-width: 1186px) {
    margin-right: 0px;
  }
}

.hidden-mobile {
  @media print, screen and (max-width: 961px) {
    display: none;
  }
}

.page-intro {
  width: 80%;
  max-width: 875px;
  margin-bottom: 30px;

  @media print, screen and (max-width: 1386px) {
    width: 64%;
  }

  @media print, screen and (max-width: 961px) {
    width: 110%;
  }

  @media print, screen and (max-width: 551px) {
    width: 130%;
  }
}

#player-main {
  width: 67%;
  padding-bottom: 50px;
  padding-top: 80px;
  padding-left: 100px;
  max-width: 1600px;

  @media print, screen and (max-width: 960px) {
    padding: 25px !important;
  }
}

#player-container {
  display: inline-table;
  @media print, screen and (max-width: 551px) {
    margin-left: 1%;
  }
}

.player-tile {
  width: 360px;
  min-height: 175px;
  float: left;
  border-radius: 10px;
  margin-right: 50px;
  margin-top: 30px;
  border: solid gray 2px;
  padding: 25px;

  @media print, screen and (max-width: 551px) {
    width: 300px;
    margin-right: 30px;
    padding: 20px;
  }
}

.player-name {
  @media print, screen and (max-width: 551px) {
    margin-bottom: 5px;
  }
}

.player-info {
    margin-bottom: 2px;
    font-size: 16px;

  @media print, screen and (max-width: 551px) {
    font-size: 14px;
  }
}

.player-text {
  width: 292px;
  float: left;

  @media print, screen and (max-width: 551px) {
    width: 220px;
  }
}

.vimeo-player-text {
  width: 280px;
  float: left;

  @media print, screen and (max-width: 551px) {
    width: 220px;
  }
}

.player-image {
  float: left;
  margin-bottom: 28px;

  @media print, screen and (max-width: 551px) {
    margin-bottom: 25px;
  }
}

table {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 640px;
  border-collapse: collapse; border-spacing: 0;
}

td, th {  border: 0 none; height: 30px; }

th {
	background: linear-gradient(#333 0%,#444 100%);
	color: #FFF; font-weight: bold;
	height: 40px;
}

td {
  background: #FAFAFA;
  text-align: center;
  padding: 2px 10px;
  }

tr:nth-child(even) td { background: #EEE; }
tr:nth-child(odd) td { background: #FDFDFD; }

tr td:first-child, tr th:first-child {
	background: none;
	font-style: italic;
	font-weight: bold;
	font-size: 14px;
	text-align: right;
	padding-right: 10px;
	width: 80px;
}

tr:first-child th:nth-child(2) {
  border-radius: 5px 0 0 0;
}

tr:first-child th:last-child {
  border-radius: 0 5px 0 0;
}

.check {
  color: green;
  font-size: 20px !important;
}

.table-border-right {
  border-right: 1px solid black;
}
